@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.container {
    height: 100vh;
    display: grid;
    place-items: center;
}

.board {
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: 1fr repeat(2, 8px 1fr);
    grid-template-rows: 1fr repeat(2, 8px 1fr);
}

.board .cell {
    display: grid;
    place-items: center;
    line-height: 0%;
    font-family: Dongle, sans-serif;
    font-weight: 300;
    font-size: 170px;
    background-color: transparent;
    border-style: none;
    overflow: hidden;
}

.board .cell.hover {
    opacity: 50%;
}

.board .cell.x {
    color: red;
}

.board .cross {
    border-radius: 4px;
    background-color: darkgray;
}

.board .cross.x {
    transform: scaleX(103%);
}

.board .cross.y {
    transform: scaleY(103%);
}