@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html {
    --red: #EF4444;
    --blue: #0EA5E9;
    --grey: #A3A3A3;
}

.container {
    height: 100vh;
    display: grid;
    place-items: center;
}

.cover {
    height: 100%;
    width: 100%;
    position: absolute;
}

.board {
    position: relative;
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: 1fr repeat(2, 8px 1fr);
    grid-template-rows: 1fr repeat(2, 8px 1fr);
}

.board .cell {
    display: grid;
    place-items: center;
    line-height: 0%;
    font-family: Dongle, sans-serif;
    font-weight: 300;
    font-size: 170px;
    background-color: transparent;
    border-style: none;
    overflow: hidden;
}

.board .cell.hover {
    opacity: 50%;
}

.board .cell.x {
    color: var(--red);
}

.board .cell.o {
    color: var(--blue);
}

.board .cell.filled {
    animation: place 0.3s cubic-bezier(0.72, 1.21, 0.91, 0.73);
}

.board .cross {
    border-radius: 4px;
    background-color: var(--grey);
}

.board .cross.x {
    transform: scaleX(103%);
}

.board .cross.y {
    transform: scaleY(103%);
}

@keyframes place {
    0% {
        opacity: 50%;
        transform: scale(80%);
    }
    10% {
        transform: scale(50%);
    }
    70% {
        opacity: 100%;
        transform: scale(125%);
    }
    80% {
        transform: scale(120%);
    }
    100% {
        opacity: 100%;
        transform: scale(100%);
    }
}